@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* aaradhy*/


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 39px;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(10, 20, 29, 0.327);
    opacity: 0.9;
    border: none;
    border-radius: 50px;
    margin-top: 4px;
}

nav{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
}

.logo{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navList{
    list-style: none;
}

.navList li{
    display: inline-block;
    padding: 0px 20px;

}


.navList li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:#ecf0f1


}

.navList li a:hover{
    color: #0088a9;
    animation: navLink 0.22s ease forwards;
}

.navButton{
    padding: 9px 25px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    color: #ecf0f1;
    transition: all 0.3s ease 0s;
}

.navButton:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #0088a9;
}

@keyframes navLink {
    100%{
        font-size: larger;
    }
}

body{
    background-image: url(../Assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
}

.calc-body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 400px;
    border: 1px solid #ecf0f1;
    border-radius: 20px;
    margin: 10px auto;
    background-color: rgba(10, 20, 19, 0.127);
    box-shadow: 0px 0px 24px 0px #ecf0f1;
    transition: all 0.3s ease 0s;

}

.calc-body:hover{
    box-shadow: 0px 0px 24px 0px #0088a9;
}

.heading{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 57px;
    color: #ecf0f1;
    transition: all 0.3s ease 0s;
}

.heading:hover{
    color: #0088a9;
    text-shadow: 0px 0px 10px #ecf0f1;
    transform: scale(1.14);

}

.outputScreen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 397px;
    border: 1px solid #ecf0f1;
    border-radius: 20px;
    margin: 10px auto;
    margin-top: 60px;
    background-color: rgba(10, 20, 19, 0.127);
    transition: all 0.3s ease 0s;
}

.outputScreen:hover{
    box-shadow: 0px 0px 24px 0px #0088a9;
}
/* .previous-operand{
    font-size: 15px;
    color: #ecf0f1;
    margin: 10px;
    margin-top: 20px;
    margin-left: -350px;
    transition: all 0.3s ease 0s;
    border: 1px solid red;
}

.previous-operand:hover{
    color: #0088a9;
    text-shadow: 0px 0px 10px #ecf0f1;
}


.current-operand{
    font-size: 20px;
    color: #ecf0f1;
    margin: 10px;
    margin-top: 20px;
    margin-left: -350px;
    transition: all 0.3s ease 0s;
    border: 1px solid red;
} */

.buttons-block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 11px;
    margin: 10px auto;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
    height: 100%;
    width: 90%;
}

.footer{
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:rgba(240, 248, 255, 0.8)
}

.footer:hover{
    color: #0088a9;
    text-shadow: 0px 0px 10px #ecf0f1;
    cursor: pointer;
}

.footerLink{
    text-decoration: none;
    color:rgba(240, 248, 255, 0.8)
}

.footerLink:hover{
    color: #0088a9;
    text-shadow: 0px 0px 10px #ecf0f1;
    text-decoration: underline;
}

.buttons-block button{
    background-color: rgba(162, 172, 180, 0);
    border: 1px solid #ecf0f1;
    border-radius: 20px;
    cursor: pointer;
    color: #ecf0f1;
    text-shadow: 0px 0px 10px #ecf0f1;
    font-size: 19px;
    transition: all 0.3s ease 0s;
}

.buttons-block button:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #0088a9;
    box-shadow: 0px 0px 10px 0px #0088a9;

}

.previous-operand{
    font-size: 10px;
    color: #ecf0f1;
    margin: 10px;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease 0s;
}

.current-operand{
    font-size: 20px;
    color: #ecf0f1;
    margin: 10px;
    margin-top: 20px;
    justify-content: flex-start; 
    align-items: flex-start;

    transition: all 0.3s ease 0s;
}